<div class="row">
    <h2>Registrar nuevo empleado</h2>

    <div class="contenedor" style="width:350px">
    <form #empleadoForm="ngForm" (ngSubmit)="addEmpleado(empleadoForm)" style="width:300px">
        <div class="form-group">
            <label>Ingrese el nombre:<span style="color:red">*</span></label>
             <input type="text" class="form-control"  name="nombre" required
     [(ngModel)]="empleadoService.selectedEmpleado.nombre">
        </div>
        <div class="form-group">
            <label>Ingrese el cargo:<span style="color:red">*</span></label>
             <input type="text" class="form-control"  name="cargo" required
     [(ngModel)]="empleadoService.selectedEmpleado.cargo">
        </div>
        <div class="form-group">
     <label>Seleccione un departamento:<span style="color:red">*</span></label>
               <select [(ngModel)]="empleadoService.selectedEmpleado.departamento" class="form-control" name="departamento" required>                    
                    <option value="Administrativa">Administrativo</option>
                    <option value="Sistemas">Sistemas</option>
                    <option vakue="Ventas">Ventas</option>
               </select> 
        </div>
        <div class="form-group">
            <label>Ingrese el sueldo:<span style="color:red">*</span></label>
             <input type="number" class="form-control" name="sueldo" required
     [(ngModel)]="empleadoService.selectedEmpleado.sueldo">
        </div>
        <div style="display: flex; justify-content: center; padding: 10px;">
            <button class="btn btn-primary">Crear <i class="bi bi-person-fill-add"></i></button>
            <button type="button" class="btn btn-info" (click)="updateEmpleado()">Actualizar <i class="bi bi-arrow-clockwise"></i></button>    
        </div>
    </form> 
    </div>

    <h2>Filtros de Búsqueda <i class="bi bi-search"></i></h2>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
              <input type="text" [(ngModel)]="nombreFiltro" class="form-control" placeholder="Nombre">
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="form-group">
              <input type="text" [(ngModel)]="cargoFiltro" class="form-control" placeholder="Cargo">
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="form-group">              
              <select [(ngModel)]="departamentoFiltro" class="form-control" name="departamento">                    
                <option value="">Todos</option>
                <option value="Administrativa">Administrativo</option>
                <option value="Sistemas">Sistemas</option>
                <option vakue="Ventas">Ventas</option>
           </select> 
            </div>
          </div>      
    </div>
         
    <h2>Lista de empleados</h2>

    <div class="col-md-8">
    <table class="table table-striped">
    <thead>
    <tr><th>Nombre</th>
    <th>Cargo</th>
    <th>Departamento</th>
    <th>Sueldo</th>
    <th>Operaciones</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleadoService.empleados">
            <ng-container *ngIf="(
                (!nombreFiltro || empleado.nombre.toLowerCase().includes(nombreFiltro.toLowerCase())) &&
                (!cargoFiltro || empleado.cargo.toLowerCase().includes(cargoFiltro.toLowerCase())) &&
                (!departamentoFiltro || empleado.departamento.toLowerCase().includes(departamentoFiltro.toLowerCase())))">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.cargo}}</td>
            <td>{{empleado.departamento}}</td>
            <td>${{empleado.sueldo}}</td>
            
                <td><button class="btn btn-primary" (click)="editEmpleado(empleado._id  || '')"><i class="bi bi-pencil-square"></i></button>

               <button class="btn btn-danger" (click)="deleteEmpleado(empleado._id || '')"><i class="bi bi-trash"></i></button>
            </td>
            </ng-container>
        </tr>
    </tbody>
    </table>
</div>
<br>
<br>
<br>
